[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "external/uWebSockets"]
	path = external/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
